/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
	box-sizing: border-box;
	font-family: arial, sans-serif;
}
table,
th,
td {
	border: 1px solid black;
	min-width: 3rem;
}
.roster {
	width: 400px;
	margin: auto;
}
.studentProfile {
	margin-left: 1rem;
}
.studentProfile img {
	width: 150px;
}
body::after {
	content: "";
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

nav {
	align-items: center;
	background-color: #333333;
	color: #c0c0c0;
	display: flex;
	height: 80px;
	padding: 10px;
	justify-content: space-between;
}
nav div {
	display: flex;
	justify-content: flex-end;
}
nav h1 {
	margin-left: 1rem;
}
nav a {
	margin-right: 2rem;
	text-decoration: none;
	color: antiquewhite;
}
main {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.candyList {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.candyList img {
	width: 488px;
}
form {
	position: relative;
}
form label {
	display: block;
	width: 500px;
	font-size: 1.5rem;
}
form input {
	position: absolute;
	height: 1.5rem;
	right: 0;
}
button {
	margin: auto;
}

.activeLink {
	color: coral;
	font-weight: bold;
	border-bottom: 5px coral solid;
}
